{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .hidden {
    display: none;
  }
</style>
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item">
              <a href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
      </div>
      <!-- Card stats -->
      <div id="messageLastUpdate"></div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div>
              <div class="card-body" id="card_body_laser">
                <a href="{% url 'laser_page' %}">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Laser Toptica</h5>
                      <span class="h2 font-weight-bold mb-0" id="laser_status">Connecting</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div>
              <div class="card-body">Emission: <span id="laser_emission">-</span></div>
              <div class="card-body">System Health: <span id="laser_system_health">-</span></div>
              <div class="card-body">Scan Wavelength: <span id="laser_scan_wavelength_number">-</span></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_rfsoc">
              <a href="{% url 'rfsoc_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">RFSoC</h5>
                    <span class="h2 font-weight-bold mb-0" id="rfsoc_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_caylar">
              <a href="{% url 'caylar_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Caylar Magnetic</h5>
                    <span class="h2 font-weight-bold mb-0" id="caylar_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-body">Caylar Field: <span id="caylar_field_number">-</span></div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_mercury">
              <a href="{% url 'mercury_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">MercuryITC (Cryostat)</h5>
                    <span class="h2 font-weight-bold mb-0" id="mercury_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-body">ITC Heater Power: <span id="itc_heater_power_number">-</span></div>
            <div class="card-body">ITC Temperature: <span id="itc_temperature_number">-</span></div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary my-4" id="update_button">Update Status</button>
    </div>
    <div id="messageUpdateExpContainer"></div>
  </div>
</div>
<div class="container-fluid">
  <div id="messageLaserOff"></div>
  <div id="TopticaCurrentPlot" class="hidden">
    <div class="row">
      <div class="col-8"><h4 class="heading-small text-muted mb-4">Toptica Current</h4></div>
      <div class="col-4 text-right">
        <label>Close</label>
        <input type="checkbox" id="toggleCheckboxTopticaCurrent" onchange="toggleVisibilityTopticaCurrent()" />
      </div>
      <div id="livePlotCurrent"></div>
    </div>
  </div>
  <div id="TopticaVoltagePlot" class="hidden">
    <div class="row">
      <div class="col-8"><h4 class="heading-small text-muted mb-4">Toptica Voltage</h4></div>
      <div class="col-4 text-right">
        <label>Close</label>
        <input type="checkbox" id="toggleCheckboxTopticaVoltage" onchange="toggleVisibilityTopticaVoltage()" />
      </div>
    </div>
    <div id="livePlotVoltage"></div>
  </div>

  <div id="TopticaWavelengthPlot" class="hidden">
    <div class="row">
      <div class="col-8"><h4 class="heading-small text-muted mb-4">Toptica Wavelength</h4></div>
      <div class="col-4 text-right">
        <label>Close</label>
        <input type="checkbox" id="toggleCheckboxTopticaWavelength" onchange="toggleVisibilityTopticaWavelength()" />
      </div>
    </div>
    <div id="livePlotWavelength">
      <button type="button" class="btn btn-danger" id="pauseExperimentButton">Pause Experiment</button>
      <button type="button" class="btn btn-danger" id="continueExperimentButton">Continue Experiment</button>
      <button type="button" class="btn btn-danger" id="stopExperimentButton">Stop Experiment</button>
      <div class="row container-fluid">
        <!-- Placeholder for laser parameters -->
        <div class="card-body">Scan End: <span id="laser_scan_end_number">-</span></div>
        <div class="card-body">Scan Start: <span id="laser_scan_start_number">-</span></div>
        <div class="card-body">Scan Offset: <span id="laser_scan_offset_number">-</span></div>
        <div class="card-body">Scan Frequency: <span id="laser_scan_frequency_number">-</span></div>
        <div class="card-body">Scan Wavelength: <span id="laser_scan_wavelength_number">-</span></div>
        <div class="card-body">Current: <span id="laser_current_number">-</span></div>
        <div class="card-body">Voltage: <span id="laser_voltage_number">-</span></div>
      </div>
    </div>
  </div>

  <div id="messageCaylarOff"></div>
  <div id="CaylarPlot" class="hidden">
    <div class="row">
      <div class="col-8"><h4 class="heading-small text-muted mb-4">Caylar</h4></div>
      <div class="col-4 text-right">
        <label>Close</label>
        <input type="checkbox" id="toggleCheckboxCaylar" onchange="toggleVisibilityCaylar()" />
      </div>
    </div>
    <div id="livePlotCaylar">
      <div class="row container-fluid">
        <div class="card-body">Caylar Current: <span id="caylar_current_number">-</span></div>
        <div class="card-body">Caylar Field: <span id="caylar_field_number">-</span></div>
        <div class="card-body">Caylar ADC/DAC Temp: <span id="caylar_adcdac_temp_number">-</span></div>
        <div class="card-body">Caylar Box Temp: <span id="caylar_box_temp_number">-</span></div>
        <div class="card-body">Caylar Rack Temp: <span id="caylar_rack_temp_number">-</span></div>
        <div class="card-body">Caylar Water Temp: <span id="caylar_water_temp_number">-</span></div>
        <div class="card-body">Caylar Water Flow: <span id="caylar_water_flow_number">-</span></div>
      </div>
    </div>
  </div>
  <div id="messageITCOff"></div>
  <div id="ITCPlot" class="hidden">
    <div class="row">
      <div class="col-8"><h4 class="heading-small text-muted mb-4">ITC</h4></div>
      <div class="col-4 text-right">
        <label>Close</label>
        <input type="checkbox" id="toggleCheckboxITC" onchange="toggleVisibilityITC()" />
      </div>
    </div>
    <div id="livePlotITC">
      <div class="row container-fluid">
        <!-- Placeholder for ITC parameters -->
        <div class="card-body">ITC Heater Power: <span id="itc_heater_power_number">-</span></div>
        <div class="card-body">ITC Temperature: <span id="itc_temperature_number">-</span></div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <!-- <form id="experimentForms" method="POST" action="{% url 'home' %}"> -->
  <form id="experimentForms" class="hidden" method="POST">
    <!-- <form id="experimentForms" method="POST"> -->
    {% csrf_token %} {{ experiment_formset.management_form }}
    <!-- Include management form here -->

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div id="messageLoadingContainer"></div>
            <div id="messageContainer"></div>
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Experiments</h3>
            </div>
            <input type="hidden" id="experimentCountInput" name="experimentCount" value="{{ experiment_forms|length }}" />
            <div class="form-group px-4 py-4">
              <label for="id_experiment_name">Experiment Name:</label>
              <input type="text" class="form-control" id="id_experiment_name" name="experiment_name" />
            </div>
            <div class="form-group px-4">
              <label for="id_experiment_description">Experiment Description:</label>
              <textarea class="form-control" id="id_experiment_description" name="description" rows="4"></textarea>
            </div>
            <div class="form-group px-4">
              <label for="id_file_Name">Experiment File:</label>
              <input type="text" class="form-control" id="id_file_Name" name="file_name" />
            </div>
            <div class="form-group px-4">
              <label for="id_selected_devices">Select Devices:</label>
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="selected_devices[]" id="input-device-laser" value="Laser" />
                  <label class="form-check-label" for="input-device-laser">Laser</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="selected_devices[]" id="input-device-mercuryitc" value="Mercury" />
                  <label class="form-check-label" for="input-device-mercuryitc">MercuryITC</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="selected_devices[]" id="input-device-caylar" value="Caylar" />
                  <label class="form-check-label" for="input-device-caylar">Caylar Magnet</label>
                </div>
              </div>
            </div>

            <div class="row px-4">
              <div class="card-body">
                <button type="submit" class="btn btn-primary" id="startExperimentButton">Start Experiment</button>
              </div>
            </div>
            <!-- <div id="messageLoadingContainer"></div> -->
          </div>
          <div id="formSectionContainer"></div>
          <!-- Container for dynamically added form sections -->
        </div>
      </div>
    </div>
  </form>
</div>
{% include "includes/footer.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  function appendToList(listName, element) {
    listName.push(element);

    if (listName.length > 100) {
      listName.shift();
    }
  }
  function toggleVisibilityTopticaCurrent() {
    var div = document.getElementById("livePlotCurrent");
    div.classList.toggle("hidden");
  }
  function toggleVisibilityTopticaVoltage() {
    var div = document.getElementById("livePlotVoltage");
    div.classList.toggle("hidden");
  }
  function toggleVisibilityTopticaWavelength() {
    var div = document.getElementById("livePlotWavelength");
    div.classList.toggle("hidden");
  }
  function toggleVisibilityMercuryITC() {
    var div = document.getElementById("livePlotITC");
    div.classList.toggle("hidden");
  }
  function toggleVisibilityCaylar() {
    var div = document.getElementById("livePlotCaylar");
    div.classList.toggle("hidden");
  }
  function validateDeviceListForm() {
    var checkboxes = document.querySelectorAll('input[name="selected_devices[]"]');
    var checkedCount = 0;
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        checkedCount++;
      }
    }
    if (checkedCount === 0) {
      alert("Please select at least one device.");
      return false; // Prevent form submission
    }
    return true; // Proceed with form submission
  }
  $(document).ready(function () {
    // Attach a submit event handler to the form
    // Add a click event handler to the "Stop Experiment" button
    $("#stopExperimentButton").on("click", function () {
      stopExperiment();
    });
    $("#pauseExperimentButton").on("click", function () {
      pauseExperiment();
    });
    $("#continueExperimentButton").on("click", function () {
      continueExperiment();
    });
    $("#experimentForms").on("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Serialize the form data
      let formData = $(this).serialize();
      $("#messageLoadingContainer").html('<div class="alert alert-info" role="alert">Loading...</div>');
      // Make an AJAX POST request only if the form is valid
      if (this.checkValidity() && validateDeviceListForm()) {
        $.ajax({
          url: "{% url 'start_experiment' %}",
          type: "POST",
          data: formData,
          success: function (response) {
            // Handle the response if needed
            isDashboardUpdating = false;
            $("#messageLoadingContainer .alert").remove();
            console.log(response);

            // Update the message dynamically from the response
            let messageContainer = $("#messageContainer");
            messageContainer.html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + response.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");

            // Reset the form fields
            $("#experimentForms")[0].reset();
            $("#experimentForms").addClass("hidden");
            isUpdating = true;
            updatePlot(1000);
          },
          error: function (xhr, status, error) {
            // Handle any error that occurs during the request
            console.log(error);

            // Update the message dynamically
            let messageContainer = $("#messageContainer");
            messageContainer.html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + xhr.responseJSON.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");
          },
          complete: function () {
            // Remove the loading indicator
            $("#messageLoadingContainer .alert").remove();
          },
        });
      }
    });
  });
  function getCurrentDateTime() {
    let now = new Date();
    let year = now.getFullYear();
    let month = String(now.getMonth() + 1).padStart(2, "0");
    let day = String(now.getDate()).padStart(2, "0");
    let hours = String(now.getHours()).padStart(2, "0");
    let minutes = String(now.getMinutes()).padStart(2, "0");
    let seconds = String(now.getSeconds()).padStart(2, "0");
    let currentDateTime = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
    return currentDateTime;
  }
  let xDate = [];
  // Initialize an empty data array
  let laser_wavelength = { x: xDate, y: [], mode: "lines+markers", name: "wavelength" };
  let laser_current = { x: xDate, y: [], mode: "lines+markers", name: "current" };
  let laser_voltage = { x: xDate, y: [], mode: "lines+markers", name: "voltage" };
  // Caylar data
  let caylar_current = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Current" };
  let caylar_field = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Field" };
  let caylar_adcdac_temp = { x: xDate, y: [], mode: "lines+markers", name: "Caylar ADC/DAC Temperature" };
  let caylar_box_temp = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Box Temperature" };
  let caylar_rack_temp = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Rack Temperature" };
  let caylar_water_temp = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Water Temperature" };
  let caylar_water_flow = { x: xDate, y: [], mode: "lines+markers", name: "Caylar Water Flow" };
  let itc_heater_power = { x: xDate, y: [], mode: "lines+markers", name: "ITC Heater Power" };
  let itc_temperature = { x: xDate, y: [], mode: "lines+markers", name: "ITC Temperature" };
  // let laser_data = [laser_scan_end, laser_scan_start, laser_scan_offset, laser_scan_frequency];
  let caylar_data = [caylar_current, caylar_field, caylar_adcdac_temp, caylar_box_temp, caylar_rack_temp, caylar_water_temp, caylar_water_flow];
  let itc_data = [itc_heater_power, itc_temperature];
  // Create an empty plot with a layout
  let layoutWavelength = {
    title: "Toptica Wavelength (nm)",
    xaxis: {
      title: "Date",
      type: "date",
    },
    yaxis: {
      title: "Wavelength (nm)",
    },
    autosize: false, // Disable automatic resizing
  };
  let layoutCurrent = {
    title: "Toptica Current (mA)",
    xaxis: {
      title: "Date",
      type: "date",
    },
    yaxis: {
      title: "Current (mA)",
    },
    autosize: false, // Disable automatic resizing
  };
  let layoutVoltage = {
    title: "Toptica Voltage (V)",
    xaxis: {
      title: "Date",
      type: "date",
    },
    yaxis: {
      title: "Voltage (v)",
    },
    autosize: false, // Disable automatic resizing
  };
  let layoutCaylar = {
    title: "Live Plot Caylar",
    xaxis: {
      title: "Date",
      type: "date",
    },
    yaxis: {
      title: "Y-axis",
    },
    autosize: false, // Disable automatic resizing
  };

  let layoutITC = {
    title: "Live Plot ITC",
    xaxis: {
      title: "Date",
      type: "date",
    },
    yaxis: {
      title: "Y-axis",
    },
    autosize: false, // Disable automatic resizing
  };

  // Create a plotly object with the laser_data and layout
  // let livePlot = Plotly.newPlot("livePlot", laser_data, layout);
  let isUpdating = false;

  // Function to update the plot with new data
  function updatePlot(interval) {
    if (!isUpdating) return;
    $("#pauseExperimentButton").removeClass("hidden");
    $("#continueExperimentButton").removeClass("hidden");
    $("#stopExperimentButton").removeClass("hidden");
    const currentDate = new Date();

    $.ajax({
      url: "{% url 'live_data_rfsoc' %}", // Replace with your Django view URL
      type: "GET",
      dataType: "json",
      success: function (response) {
        // Update the data array with new data points
        appendToList(xDate, getCurrentDateTime());
        // console.log(data);
        if (response.caylar_status == "ON") {
          $("#CaylarPlot").removeClass("hidden");
          $("#caylar_current_number").text(response.caylar_current);
          $("#caylar_field_number").text(response.caylar_field);
          $("#caylar_adcdac_temp_number").text(response.caylar_adcdac_temp);
          $("#caylar_box_temp_number").text(response.caylar_box_temp);
          $("#caylar_rack_temp_number").text(response.caylar_rack_temp);
          $("#caylar_water_temp_number").text(response.caylar_water_temp);
          $("#caylar_water_flow_number").text(response.caylar_water_flow);
          // Update Caylar data
          appendToList(caylar_current["y"], response.caylar_current);
          appendToList(caylar_field["y"], response.caylar_field);
          appendToList(caylar_adcdac_temp["y"], response.caylar_adcdac_temp);
          appendToList(caylar_box_temp["y"], response.caylar_box_temp);
          appendToList(caylar_rack_temp["y"], response.caylar_rack_temp);
          appendToList(caylar_water_temp["y"], response.caylar_water_temp);
          appendToList(caylar_water_flow["y"], response.caylar_water_flow);
          // Update the Caylar plot with the new data
          caylar_data = [caylar_current, caylar_field, caylar_adcdac_temp, caylar_box_temp, caylar_rack_temp, caylar_water_temp, caylar_water_flow];
          let livePlotCaylar = Plotly.newPlot("livePlotCaylar", caylar_data, layoutCaylar);
        } else {
          let messageCaylarOff = $("#messageCaylarOff");
          messageCaylarOff.html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + "Caylar is not connected" + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");
          $("#CaylarPlot").addClass("hidden");
        }
        if (response.mercury_status == "ON") {
          $("#ITCPlot").removeClass("hidden");
          $("#itc_heater_power_number").text(response.itc_heater_power);
          $("#itc_temperature_number").text(response.itc_temperature);
          // Update ITC data
          appendToList(itc_heater_power["y"], response.itc_heater_power);
          appendToList(itc_temperature["y"], response.itc_temperature);
          // Update the ITC plot with the new data
          itc_data = [itc_heater_power, itc_temperature];
          let livePlotITC = Plotly.newPlot("livePlotITC", itc_data, layoutITC);
        } else {
          let messageITCOff = $("#messageITCOff");
          messageITCOff.html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + "ITC is not connected" + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");
          $("#ITCPlot").addClass("hidden");
        }
        if (response.laser_status == "ON") {
          $("#TopticaWavelengthPlot").removeClass("hidden");
          $("#TopticaCurrentPlot").removeClass("hidden");
          $("#TopticaVoltagePlot").removeClass("hidden");
          $("#laser_scan_end_number").text(response.laser_scan_end[0]);
          $("#laser_scan_start_number").text(response.laser_scan_start[0]);
          $("#laser_scan_offset_number").text(response.laser_scan_offset[0]);
          $("#laser_scan_frequency_number").text(response.laser_scan_frequency[0]);
          $("#laser_scan_wavelength_number").text(response.laser_wavelength[0]);
          $("#laser_current_number").text(response.laser_current[0]);
          $("#laser_voltage_number").text(response.laser_voltage[0]);
          appendToList(laser_wavelength["y"], response.laser_wavelength[0]);
          appendToList(laser_current["y"], response.laser_current[0]);
          appendToList(laser_voltage["y"], response.laser_voltage[0]);
          // Update the plot with the new data
          laser_wavelength_data = [laser_wavelength];
          laser_current_data = [laser_current];
          laser_voltage_data = [laser_voltage];
          let livePlotWavelength = Plotly.newPlot("livePlotWavelength", laser_wavelength_data, layoutWavelength);
          let livePlotCurrent = Plotly.newPlot("livePlotCurrent", laser_current_data, layoutCurrent);
          let livePlotVoltage = Plotly.newPlot("livePlotVoltage", laser_voltage_data, layoutVoltage);
        } else {
          let messageLaserOff = $("#messageLaserOff");
          messageLaserOff.html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + "Toptica is not connected" + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");
          $("#TopticaWavelengthPlot").addClass("hidden");
          $("#TopticaCurrentPlot").addClass("hidden");
          $("#TopticaVoltagePlot").addClass("hidden");
        }
      },
      error: function (xhr, status, error) {
        console.log(xhr.responseText);
      },
      complete: function () {
        // Call the updatePlot function again after the specified interval
        setTimeout(function () {
          updatePlot(interval);
        }, interval);
      },
    });
  }
  function stopExperiment() {
    isUpdating = false;
    $.ajax({
      url: "{% url 'stop_experiment' %}", // Replace with your Django view URL
      type: "GET",
      success: function (response) {
        // Handle the response if needed
        console.log(response);
        // Stop the plot updates
      },
      error: function (xhr, status, error) {
        // Handle any error that occurs during the request
        console.log(error);
      },
    });
  }
  function pauseExperiment() {
    isUpdating = true;
  }
  function continueExperiment() {
    isUpdating = true;
  }
  let statusCaylarElement = $("#caylar_status");
  let statusLaserElement = $("#laser_status");
  let statusRFSoCElement = $("#rfsoc_status");
  let statusMercuryElement = $("#mercury_status");

  function updateStatusColor(statusElement) {
    let statusText = statusElement.text().trim();
    statusElement.removeClass("text-success text-danger").css("color", "");

    if (statusText === "Connected") {
      statusElement.addClass("text-success"); // Add green text color class
    } else if (statusText === "Not Connected") {
      statusElement.addClass("text-danger"); // Add red text color class
    } else {
      statusElement.css("color", "#adb5bd"); // Set text color to #adb5bd (gray)
    }
  }
  let isDashboardUpdating = false;
  function DashboardPlot(interval) {
    $("#pauseExperimentButton").addClass("hidden");
    $("#continueExperimentButton").addClass("hidden");
    $("#stopExperimentButton").addClass("hidden");
    if (!isDashboardUpdating) return;
    $.ajax({
      url: "{% url 'plot' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (response) {
        appendToList(xDate, getCurrentDateTime());
        // console.log(data);
        if (response.caylar_status == "ON") {
          $("#CaylarPlot").removeClass("hidden");
          $("#caylar_current_number").text(response.caylar_current[0]);
          $("#caylar_field_number").text(response.caylar_field[0]);
          $("#caylar_adcdac_temp_number").text(response.caylar_adcdac_temp[0]);
          $("#caylar_box_temp_number").text(response.caylar_box_temp[0]);
          $("#caylar_rack_temp_number").text(response.caylar_rack_temp[0]);
          $("#caylar_water_temp_number").text(response.caylar_water_temp[0]);
          $("#caylar_water_flow_number").text(response.caylar_water_flow[0]);
          // Update Caylar data
          appendToList(caylar_current["y"], response.caylar_current[0]);
          appendToList(caylar_field["y"], response.caylar_field[0]);
          appendToList(caylar_adcdac_temp["y"], response.caylar_adcdac_temp[0]);
          appendToList(caylar_box_temp["y"], response.caylar_box_temp[0]);
          appendToList(caylar_rack_temp["y"], response.caylar_rack_temp[0]);
          appendToList(caylar_water_temp["y"], response.caylar_water_temp[0]);
          appendToList(caylar_water_flow["y"], response.caylar_water_flow[0]);
          // Update the Caylar plot with the new data
          caylar_data = [caylar_current, caylar_field, caylar_adcdac_temp, caylar_box_temp, caylar_rack_temp, caylar_water_temp, caylar_water_flow];
          let livePlotCaylar = Plotly.newPlot("livePlotCaylar", caylar_data, layoutCaylar);
        } else {
          $("#CaylarPlot").addClass("hidden");
        }
        if (response.mercury_status == "ON") {
          $("#ITCPlot").removeClass("hidden");
          $("#itc_heater_power_number").text(response.itc_heater_power[0]);
          $("#itc_temperature_number").text(response.itc_temperature[0]);
          // Update ITC data
          appendToList(itc_heater_power["y"], response.itc_heater_power[0]);
          appendToList(itc_temperature["y"], response.itc_temperature[0]);
          // Update the ITC plot with the new data
          itc_data = [itc_heater_power, itc_temperature];
          let livePlotITC = Plotly.newPlot("livePlotITC", itc_data, layoutITC);
        } else {
          $("#ITCPlot").addClass("hidden");
        }
        if (response.laser_status == "ON") {
          $("#TopticaWavelengthPlot").removeClass("hidden");
          $("#TopticaCurrentPlot").removeClass("hidden");
          $("#TopticaVoltagePlot").removeClass("hidden");
          $("#laser_scan_end_number").text(response.laser_scan_end[0]);
          $("#laser_scan_start_number").text(response.laser_scan_start[0]);
          $("#laser_scan_offset_number").text(response.laser_scan_offset[0]);
          $("#laser_scan_frequency_number").text(response.laser_scan_frequency[0]);
          $("#laser_scan_wavelength_number").text(response.laser_wavelength[0]);
          $("#laser_current_number").text(response.laser_current[0]);
          $("#laser_voltage_number").text(response.laser_voltage[0]);
          $("#laser_emission").text(response.laser_emission[0]);
          $("#laser_system_health").text(response.laser_system_health[0]);
          appendToList(laser_wavelength["y"], response.laser_wavelength[0]);
          appendToList(laser_current["y"], response.laser_current[0]);
          appendToList(laser_voltage["y"], response.laser_voltage[0]);
          // Update the plot with the new data
          laser_wavelength_data = [laser_wavelength];
          laser_current_data = [laser_current];
          laser_voltage_data = [laser_voltage];
          let livePlotWavelength = Plotly.newPlot("livePlotWavelength", laser_wavelength_data, layoutWavelength);
          let livePlotCurrent = Plotly.newPlot("livePlotCurrent", laser_current_data, layoutCurrent);
          let livePlotVoltage = Plotly.newPlot("livePlotVoltage", laser_voltage_data, layoutVoltage);
        } else {
          $("#TopticaWavelengthPlot").addClass("hidden");
          $("#TopticaCurrentPlot").addClass("hidden");
          $("#TopticaVoltagePlot").addClass("hidden");
        }
      },
      error: function (xhr, status, error) {
        console.log(xhr.responseText);
      },
      complete: function () {
        // Call the updatePlot function again after the specified interval
        setTimeout(function () {
          DashboardPlot(interval);
        }, interval);
      },
    });
  }
  function updateStatus() {
    $.ajax({
      url: "{% url 'status' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("rfsoc_status").innerHTML = data.rfsoc_status == "ON" ? "Connected" : "Not Connected";
        document.getElementById("laser_status").innerHTML = data.laser_status == "ON" ? "Connected" : "Not Connected";
        document.getElementById("mercury_status").innerHTML = data.mercury_status == "ON" ? "Connected" : "Not Connected";
        document.getElementById("caylar_status").innerHTML = data.caylar_status == "ON" ? "Connected" : "Not Connected";
        updateStatusColor(statusLaserElement);
        updateStatusColor(statusCaylarElement);
        updateStatusColor(statusMercuryElement);
        updateStatusColor(statusRFSoCElement);
        $("#messageLastUpdate").html('<div class="alert alert-info" role="alert">Last Update Status: ' + data.Dtime + "</div>");
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        $("#experimentForms").removeClass("hidden");
        $("#messageUpdateExpContainer .alert").remove();
        isDashboardUpdating = true;
        DashboardPlot(1000);
      },
    });
  }
  function updateStatusLaser() {
    $("#messageUpdateExpContainer").html('<div class="alert alert-info" role="alert">Please Wait Until The Status Loading Finished</div>');
    $.ajax({
      url: "{% url 'statuslaser' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("laser_status").innerHTML = data.laser_status == "ON" ? "Connected" : "Not Connected";
        updateStatusColor(statusLaserElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        updateStatusRFSoC();
      },
    });
  }
  function updateStatusRFSoC() {
    $.ajax({
      url: "{% url 'statusrfsoc' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("rfsoc_status").innerHTML = data.rfsoc_status == "ON" ? "Connected" : "Not Connected";
        updateStatusColor(statusRFSoCElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        updateStatusMercury();
      },
    });
  }
  function updateStatusMercury() {
    $.ajax({
      url: "{% url 'statusmercury' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("mercury_status").innerHTML = data.mercury_status == "ON" ? "Connected" : "Not Connected";
        updateStatusColor(statusMercuryElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        updateStatusCaylar();
      },
    });
  }
  function updateStatusCaylar() {
    $.ajax({
      url: "{% url 'statuscaylar' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("caylar_status").innerHTML = data.caylar_status == "ON" ? "Connected" : "Not Connected";
        updateStatusColor(statusCaylarElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        $("#experimentForms").removeClass("hidden");
        $("#messageUpdateExpContainer .alert").remove();
        isDashboardUpdating = true;
        // Set the flag indicating that the script has been executed
        sessionStorage.setItem("script_executed", true);
        DashboardPlot(1000);
      },
    });
  }
  // Add event listener for the update button
  const updateButton = document.getElementById("update_button");
  updateButton.addEventListener("click", function () {
    updateStatusColor(statusLaserElement);
    updateStatusColor(statusCaylarElement);
    updateStatusColor(statusMercuryElement);
    updateStatusColor(statusRFSoCElement);
    isDashboardUpdating = false;
    updateStatusLaser(); // Update the status immediately when the page loads
  });

  // Start the script once the HTML has finished loading
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the script has already been executed
    let scriptExecuted = sessionStorage.getItem("script_executed");
    console.log(scriptExecuted);
    if (!scriptExecuted) {
      updateStatusColor(statusLaserElement);
      updateStatusColor(statusCaylarElement);
      updateStatusColor(statusMercuryElement);
      updateStatusColor(statusRFSoCElement);
      updateStatusLaser(); // Update the status immediately when the page loads
    } else {
      updateStatusColor(statusLaserElement);
      updateStatusColor(statusCaylarElement);
      updateStatusColor(statusMercuryElement);
      updateStatusColor(statusRFSoCElement);
      updateStatus();
    }
  });
</script>

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
