{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .hidden {
    display: none;
  }
</style>
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item">
              <a href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->

            <div class="card-body" id="card_body_laser">
              <a href="{% url 'laser_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Laser Toptica</h5>
                    <span class="h2 font-weight-bold mb-0" id="laser_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_rfsoc">
              <a href="{% url 'rfsoc_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">RFSoC</h5>
                    <span class="h2 font-weight-bold mb-0" id="rfsoc_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_caylar">
              <a href="{% url 'caylar_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Caylar Magnetic</h5>
                    <span class="h2 font-weight-bold mb-0" id="caylar_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_mercury">
              <a href="{% url 'mercury_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">MercuryITC (Cryostat)</h5>
                    <span class="h2 font-weight-bold mb-0" id="mercury_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary my-4" id="update_button">Update Status</button>
    </div>
  </div>
</div>
<div id="livePlot"></div>
<!-- Page content -->
<!-- <form id="experimentForms" method="POST" action="{% url 'home' %}"> -->
<form id="experimentForms" class="hidden" method="POST">
  {% csrf_token %} {{ experiment_formset.management_form }}
  <!-- Include management form here -->

  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div id="messageLoadingContainer"></div>
          <div id="messageContainer"></div>
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Experiments</h3>
          </div>
          <input type="hidden" id="experimentCountInput" name="experimentCount" value="{{ experiment_forms|length }}" />
          <div class="form-group px-4 py-4">
            <label for="id_experiment_name">Experiment Name:</label>
            <input type="text" class="form-control" id="id_experiment_name" name="experiment_name" />
          </div>
          <div class="form-group px-4">
            <label for="id_experiment_description">Experiment Description:</label>
            <textarea class="form-control" id="id_experiment_description" name="description" rows="4"></textarea>
          </div>
          <div class="form-group px-4">
            <label for="id_file_Name">Experiment File:</label>
            <input type="text" class="form-control" id="id_file_Name" name="file_name" />
          </div>
          <div class="row px-4">
            <div class="card-body">
              <button type="submit" class="btn btn-primary" id="startExperimentButton">Start Experiment</button>
            </div>
          </div>
        </div>
        <div id="formSectionContainer"></div>
        <!-- Container for dynamically added form sections -->
      </div>
    </div>
  </div>
</form>

{% include "includes/footer.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  $(document).ready(function () {
    // Attach a submit event handler to the form
    $("#experimentForms").on("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Serialize the form data
      var formData = $(this).serialize();
      $("#messageLoadingContainer").html('<div class="alert alert-info" role="alert">Loading...</div>');
      // Make an AJAX POST request only if the form is valid
      if (this.checkValidity()) {
        $.ajax({
          url: "{% url 'start_experiment' %}",
          type: "POST",
          data: formData,
          success: function (response) {
            // Handle the response if needed
            console.log(response);

            // Update the message dynamically from the response
            var messageContainer = $("#messageContainer");
            messageContainer.html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + response.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");

            // Reset the form fields
            $("#experimentForms")[0].reset();
          },
          error: function (xhr, status, error) {
            // Handle any error that occurs during the request
            console.log(error);

            // Update the message dynamically
            var messageContainer = $("#messageContainer");
            messageContainer.html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + xhr.responseJSON.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + '<span aria-hidden="true">&times;</span>' + "</button>" + "</div>");
          },
          complete: function () {
            // Remove the loading indicator
            $("#messageLoadingContainer .alert").remove();
          },
        });
      }
    });
  });
</script>
<!-- <script>
  // Initialize an empty data array
  var data = [];

  // Create an empty plot with a layout
  var layout = {
    title: "Live Plot",
    xaxis: {
      title: "X-axis",
    },
    yaxis: {
      title: "Y-axis",
    },
  };

  // Create a plotly object with the data and layout
  var livePlot = Plotly.newPlot("livePlot", data, layout);

  // Function to update the plot with new data
  function updatePlot() {
    $.ajax({
      url: "{% url 'live_data_rfsoc' %}", // Replace with your Django view URL
      type: "GET",
      dataType: "json",
      success: function (response) {
        // Update the data array with new data points
        data = response.data;

        // Update the plot with the new data
        Plotly.update("livePlot", data);
      },
      error: function (xhr, status, error) {
        console.log(xhr.responseText);
      },
    });
  }

  // Call the updatePlot function every second
  setInterval(updatePlot, 1000);
</script> -->

<script>
  var statusCaylarElement = $("#caylar_status");
  var statusLaserElement = $("#laser_status");
  var statusRFSoCElement = $("#rfsoc_status");
  var statusMercuryElement = $("#mercury_status");

  function updateStatusColor(statusElement) {
    var statusText = statusElement.text().trim();
    statusElement.removeClass("text-success text-danger").css("color", "");

    if (statusText === "ON") {
      statusElement.addClass("text-success"); // Add green text color class
    } else if (statusText === "OFF") {
      statusElement.addClass("text-danger"); // Add red text color class
    } else {
      statusElement.css("color", "#adb5bd"); // Set text color to #adb5bd (gray)
    }
  }
  function updateStatus() {
    $.ajax({
      url: "{% url 'status' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("rfsoc_status").innerHTML = data.rfsoc_status;
        document.getElementById("laser_status").innerHTML = data.laser_status;
        document.getElementById("mercury_status").innerHTML = data.mercury_status;
        document.getElementById("caylar_status").innerHTML = data.caylar_status;
        updateStatusColor(statusLaserElement);
        updateStatusColor(statusCaylarElement);
        updateStatusColor(statusMercuryElement);
        updateStatusColor(statusRFSoCElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
      complete: function () {
        $("#experimentForms").removeClass("hidden");
      },
    });
  }

  // Add event listener for the update button
  const updateButton = document.getElementById("update_button");
  updateButton.addEventListener("click", function () {
    updateStatusColor(statusLaserElement);
    updateStatusColor(statusCaylarElement);
    updateStatusColor(statusMercuryElement);
    updateStatusColor(statusRFSoCElement);
    updateStatus(); // Update the status immediately when the page loads
  });

  // Start the script once the HTML has finished loading
  document.addEventListener("DOMContentLoaded", function () {
    updateStatusColor(statusLaserElement);
    updateStatusColor(statusCaylarElement);
    updateStatusColor(statusMercuryElement);
    updateStatusColor(statusRFSoCElement);
    updateStatus(); // Update the status immediately when the page loads
  });
</script>

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
