{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item">
              <a href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->

            <div class="card-body" id="card_body_laser">
              <a href="{% url 'laser_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Laser Toptica</h5>
                    <span class="h2 font-weight-bold mb-0" id="laser_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_rfsoc">
              <a href="{% url 'rfsoc_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">RFSoC</h5>
                    <span class="h2 font-weight-bold mb-0" id="rfsoc_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_caylar">
              <a href="{% url 'caylar_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Caylar Magnetic</h5>
                    <span class="h2 font-weight-bold mb-0" id="caylar_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body" id="card_body_mercury">
              <a href="{% url 'mercury_page' %}">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">MercuryITC (Cryostat)</h5>
                    <span class="h2 font-weight-bold mb-0" id="mercury_status">Connecting</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary my-4" id="update_button">Update Status</button>
    </div>
  </div>
</div>

<!-- Page content -->
<!-- <form id="experimentForms" method="POST" action="{% url 'home' %}"> -->
<form id="experimentForms" method="POST">
  {% csrf_token %} {{ experiment_formset.management_form }}
  <!-- Include management form here -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Experiments</h3>
          </div>
          <input type="hidden" id="experimentCountInput" name="experimentCount" value="{{ experiment_forms|length }}" />
          <div class="form-group px-4">
            <label for="id_experiment_name">Experiment Name:</label>
            <input type="text" class="form-control" id="id_experiment_name" name="experiment_name" />
          </div>
          <div class="form-group px-4">
            <label for="id_experiment_description">Experiment Description:</label>
            <textarea class="form-control" id="id_experiment_description" name="description" rows="4"></textarea>
          </div>
          <div class="row px-4">
            <div class="card-body">
              <button type="submit" class="btn btn-primary">Start Experiment</button>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-primary" onclick="addExperimentForm()">Set Configuration</button>
            </div>
          </div>
        </div>
        <div id="formSectionContainer"></div>
        <!-- Container for dynamically added form sections -->
      </div>
    </div>
  </div>
</form>

{% include "includes/footer.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function addExperimentForm() {
    var formCountInput = document.getElementById("experimentCountInput");
    var formCount = parseInt(formCountInput.value);

    // Create a new form section
    var newFormSection = document.createElement("div");
    newFormSection.className = "card shadow";
    newFormSection.innerHTML = `
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Form ${formCount + 1}</h3>
      </div>
      <div class="form-group px-4">
        <label for="id_device_${formCount}">Device:</label>
        <select class="form-control" id="id_device_${formCount}" name="form-${formCount}-device" onchange="handleDeviceChange(${formCount})">
          <option value="">-- Select Device --</option>
          <option value="laser">Laser</option>
          <option value="rf_soc">RFSoC</option>
          <option value="frequency_setting">Frequency Setting</option>
        </select>
      </div>
      <div id="parameterSection_${formCount}"></div> <!-- Container for dynamically added parameter section -->
      <div class="row px-4">
        <div class="card-body">
          <button type="button" class="btn btn-primary" onclick="addExperimentForm()">Add</button>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary" onclick="copyExperimentForm(${formCount})">Copy</button>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary" onclick="deleteExperimentForm(${formCount})">Delete</button>
        </div>
      </div>
    `;

    // Append the new form section to the form section container
    var formSectionContainer = document.getElementById("formSectionContainer");
    formSectionContainer.appendChild(newFormSection);

    formCountInput.value = formCount + 1; // Update the form count
  }

  function handleDeviceChange(formCount) {
    var deviceSelect = document.getElementById(`id_device_${formCount}`);
    var selectedDevice = deviceSelect.value;

    // Remove any existing parameter section for the current form
    var parameterSection = document.getElementById(`parameterSection_${formCount}`);
    parameterSection.innerHTML = "";

    if (selectedDevice === "laser") {
      // Create a new parameter section for the selected device (laser)
      var newParameterSection = document.createElement("div");
      newParameterSection.innerHTML = `
        <div class="form-group px-4">
          <label for="id_wavelength_${formCount}">Wavelength:</label>
          <input type="text" class="form-control" id="id_wavelength_${formCount}" name="form-${formCount}-wavelength" />
        </div>
        <div class="form-group px-4">
          <label for="id_frequency_${formCount}">Frequency:</label>
          <input type="text" class="form-control" id="id_frequency_${formCount}" name="form-${formCount}-frequency" />
        </div>
      `;

      // Append the new parameter section to the parameter section container
      parameterSection.appendChild(newParameterSection);
    } else if (selectedDevice === "rf_soc") {
      // Create a new parameter section for the selected device (RFSoC)
      var newParameterSection = document.createElement("div");
      newParameterSection.innerHTML = `
        <div class="form-group px-4">
          <label for="id_eom_${formCount}">EOM or AOM:</label>
          <select class="form-control" id="id_eom_${formCount}" name="form-${formCount}-eom_aom" onchange="handleEomAomChange(${formCount})">
            <option value="">-- Select EOM or AOM --</option>
            <option value="eom">EOM</option>
            <option value="aom">AOM</option>
          </select>
        </div>
        <div id="eomAomSection_${formCount}"></div> <!-- Container for dynamically added EOM or AOM section -->
      `;

      // Append the new parameter section to the parameter section container
      parameterSection.appendChild(newParameterSection);
    } else if (selectedDevice === "frequency_setting") {
      // Create a new parameter section for the selected device (frequency setting)
      var newParameterSection = document.createElement("div");
      newParameterSection.innerHTML = `
        <div class="form-group px-4">
          <label for="id_frequency_name_${formCount}">Frequency Name:</label>
          <select class="form-control" id="id_dfrequency_name_${formCount}" name="form-${formCount}-frequency_name">
            <option value="">-- Select Option --</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        </div>
        <div class="form-group px-4">
          <label for="id_frequency_${formCount}">Frequency:</label>
          <input type="number" class="form-control" id="id_frequency_${formCount}" name="form-${formCount}-frequency" step="any" />
        </div>
        <div class="form-group px-4">
          <label for="id_amplitude_${formCount}">Amplitude:</label>
          <input type="number" class="form-control" id="id_amplitude_${formCount}" name="form-${formCount}-amplitude" step="any" />
        </div>
        <div class="form-group px-4">
          <label for="id_phase_${formCount}">Phase:</label>
          <input type="number" class="form-control" id="id_phase_${formCount}" name="form-${formCount}-phase" step="any" />
        </div>
      `;

      // Append the new parameter section to the parameter section container
      parameterSection.appendChild(newParameterSection);
    }
  }

  function handleEomAomChange(formCount) {
    var eomAomSelect = document.getElementById(`id_eom_${formCount}`);
    var selectedEomAom = eomAomSelect.value;

    // Remove any existing EOM or AOM section for the current form
    var eomAomSection = document.getElementById(`eomAomSection_${formCount}`);
    eomAomSection.innerHTML = "";

    if (selectedEomAom === "eom") {
      // Create a new EOM section
      var newEomSection = document.createElement("div");
      newEomSection.innerHTML = `
        <div class="form-group px-4">
          <label for="id_eom_frequency_${formCount}">EOM Frequency:</label>
          <select class="form-control" id="id_eom_frequency_${formCount}" name="form-${formCount}-eom_frequency">
            <option value="">-- Select EOM or AOM --</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        </div>
        <div class="form-group px-4">
          <label for="id_eom_time_start_${formCount}">EOM Start Time:</label>
          <input type="text" class="form-control" id="id_eom_time_start_${formCount}" name="form-${formCount}-eom_time_start" />
        </div>
        <div class="form-group px-4">
          <label for="id_eom_length_${formCount}">EOM Length:</label>
          <input type="text" class="form-control" id="id_eom_length_${formCount}" name="form-${formCount}-eom_length" />
        </div>
      `;

      // Append the new EOM section to the EOM or AOM section container
      eomAomSection.appendChild(newEomSection);
    } else if (selectedEomAom === "aom") {
      // Create a new AOM section
      var newAomSection = document.createElement("div");
      newAomSection.innerHTML = `
        <div class="form-group px-4">
          <label for="id_aom_pins_${formCount}">AOM Pins:</label>
          <input type="text" class="form-control" id="id_aom_pins_${formCount}" name="form-${formCount}-aom_pins" />
        </div>
        <div class="form-group px-4">
          <label for="id_aom_start_time_${formCount}">AOM Start Time:</label>
          <input type="text" class="form-control" id="id_aom_start_time_${formCount}" name="form-${formCount}-aom_start_time" />
        </div>
        <div class="form-group px-4">
          <label for="id_aom_length_${formCount}">AOM Length:</label>
          <input type="text" class="form-control" id="id_aom_length_${formCount}" name="form-${formCount}-aom_length" />
        </div>
      `;

      // Append the new AOM section to the EOM or AOM section container
      eomAomSection.appendChild(newAomSection);
    }
  }

  function copyExperimentForm(formCount) {
    var formSectionToCopy = document.querySelector(`#formSectionContainer > .card:nth-child(${formCount + 1})`);
    var clonedFormSection = formSectionToCopy.cloneNode(true);
    var formSectionContainer = document.getElementById("formSectionContainer");
    formSectionContainer.appendChild(clonedFormSection);

    var newFormCount = parseInt(formCount) + 1;
    updateFormSectionIndexes(newFormCount);
  }

  function deleteExperimentForm(formCount) {
    var formSectionToRemove = document.querySelector(`#formSectionContainer > .card:nth-child(${formCount + 1})`);
    formSectionToRemove.remove();

    var formCountInput = document.getElementById("experimentCountInput");
    var newFormCount = parseInt(formCountInput.value) - 1;
    updateFormSectionIndexes(newFormCount);
  }

  function updateFormSectionIndexes(newFormCount) {
    var formCountInput = document.getElementById("experimentCountInput");
    formCountInput.value = newFormCount;

    var formSections = document.querySelectorAll("#formSectionContainer > .card");
    for (var i = 0; i < formSections.length; i++) {
      var formSection = formSections[i];
      var header = formSection.querySelector("h3");
      header.innerHTML = `Form ${i + 1}`;
      var deviceSelect = formSection.querySelector(`select[name="form-${i}-device"]`);
      deviceSelect.setAttribute("onchange", `handleDeviceChange(${i})`);
      var eomAomSelect = formSection.querySelector(`select[name="form-${i}-eom_aom"]`);
      eomAomSelect.setAttribute("onchange", `handleEomAomChange(${i})`);
    }
  }
</script>

<script>
  var statusCaylarElement = $("#caylar_status");
  var statusLaserElement = $("#laser_status");
  var statusRFSoCElement = $("#rfsoc_status");
  var statusMercuryElement = $("#mercury_status");

  function updateStatusColor(statusElement) {
    var statusText = statusElement.text().trim();
    statusElement.removeClass("text-success text-danger").css("color", "");

    if (statusText === "ON") {
      statusElement.addClass("text-success"); // Add green text color class
    } else if (statusText === "OFF") {
      statusElement.addClass("text-danger"); // Add red text color class
    } else {
      statusElement.css("color", "#adb5bd"); // Set text color to #adb5bd (gray)
    }
  }
  function updateStatus() {
    $.ajax({
      url: "{% url 'status' %}", // URL mapped to the status view
      type: "GET",
      dataType: "json",
      success: function (data) {
        document.getElementById("rfsoc_status").innerHTML = data.rfsoc_status;
        document.getElementById("laser_status").innerHTML = data.laser_status;
        document.getElementById("mercury_status").innerHTML = data.mercury_status;
        document.getElementById("caylar_status").innerHTML = data.caylar_status;
        updateStatusColor(statusLaserElement);
        updateStatusColor(statusCaylarElement);
        updateStatusColor(statusMercuryElement);
        updateStatusColor(statusRFSoCElement);
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
      },
    });
  }

  // Add event listener for the update button
  const updateButton = document.getElementById("update_button");
  updateButton.addEventListener("click", function () {
    updateStatusColor(statusLaserElement);
    updateStatusColor(statusCaylarElement);
    updateStatusColor(statusMercuryElement);
    updateStatusColor(statusRFSoCElement);
    updateStatus(); // Update the status immediately when the page loads
  });

  // Start the script once the HTML has finished loading
  document.addEventListener("DOMContentLoaded", function () {
    updateStatusColor(statusLaserElement);
    updateStatusColor(statusCaylarElement);
    updateStatusColor(statusMercuryElement);
    updateStatusColor(statusRFSoCElement);
    updateStatus(); // Update the status immediately when the page loads
  });
</script>

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
