<!-- mercury.html -->
{% extends 'layouts/base.html' %} {% block title %} Mercury ITC {% endblock title %} {% block content %}
<!-- Page content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8"></div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %} {% if message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %}

          <form method="post" id="mercury_form" action="{% url 'mercury_page' %}">
            {% csrf_token %}
            <div class="col-12">
              <div class="row">
                <div class="row ml-1">
                  <button type="submit" class="btn btn-sm btn-primary" name="updateall">Update All</button>
                  <button type="submit" class="btn btn-sm btn-primary" name="updateip">Update IP</button>
                  <button type="submit" class="btn btn-sm btn-primary" name="updateconfig">Update Config</button>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Mercury ITC Information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-host">IP Address</label>
                    <input id="input-host" class="form-control" name="mercury_host" placeholder="Mercury ITC IP Address" type="text" value="{{ form.mercury_host.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-port">Port</label>
                    <input type="number" id="input-port" class="form-control" name="mercury_port" placeholder="Port" value="{{ form.mercury_port.value }}" />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Mercury ITC Configuration</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-heater-power">Heater Power</label>
                    <input id="input-heater-power" class="form-control" name="mercury_heater_power" placeholder="Heater Power" type="number" step="any" value="{{ form.mercury_heater_power.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-itc-temperature">ITC Temperature</label>
                    <input id="input-itc-temperature" class="form-control" name="mercury_itc_temperature" placeholder="ITC Temperature" type="number" step="any" value="{{ form.mercury_itc_temperature.value }}" />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Mercury ITC Actual Value</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-heater-power">Heater Power</label>
                    {% if connected %}<input id="input-heater-power" class="form-control" name="mercury_heater_power" placeholder="Heater Power" type="number" step="any" value="{{mercury_heater_power}}" disabled />{% else %} <input id="input-heater-power" class="form-control" name="mercury_heater_power" placeholder="Heater Power" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-itc-temperature">ITC Temperature (K)</label>
                    {% if connected %}<input id="input-itc-temperature" class="form-control" name="mercury_itc_temperature" placeholder="ITC Temperature" type="number" step="any" value="{{mercury_itc_temperature}}" disabled />{% else %} <input id="input-itc-temperature" class="form-control" name="mercury_itc_temperature" placeholder="ITC Temperature" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="col-12">
              <div class="row">
                <div class="row ml-1">
                  <button type="submit" class="btn btn-sm btn-primary" name="updateall">Update All</button>
                  <button type="submit" class="btn btn-sm btn-primary" name="updateip">Update IP</button>
                  <button type="submit" class="btn btn-sm btn-primary" name="updateconfig">Update Config</button>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %}
<script>
  // Get the form element
  const form = document.getElementById("mercury_form");

  // Add an event listener to the form
  form.addEventListener("keydown", function (event) {
    // Check if the pressed key is "Enter" (keyCode for Enter is 13)
    if (event.keyCode === 13 || event.key === "Enter") {
      // Prevent the default form submission
      event.preventDefault();
    }
  });

  function LoggingFile(interval) {
    const csrfToken = $("input[name='csrfmiddlewaretoken']").val();

    // Include the CSRF token in the AJAX request headers
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": csrfToken,
      },
    });
    $.ajax({
      url: "{% url 'plot' %}", // URL mapped to the status view
      type: "POST",
      data: { changePage: false },
      dataType: "json",
      success: function (response) {},
      error: function (xhr, status, error) {
        console.log(xhr.responseText);
      },
      complete: function () {
        // Call the updatePlot function again after the specified interval
        setTimeout(function () {
          LoggingFile(interval);
        }, interval);
      },
    });
  }

  LoggingFile(1000);
</script>
{% endblock javascripts %}
