{% extends 'layouts/base.html' %} {% block title %} RFSoC {% endblock title %} {% block content %}
<!-- Page content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8"></div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %} {% if message.tags == 'info' %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% elif message.tags == 'warning' %}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endif %} {% endfor %} {% endif %}
          <form method="post" action="{% url 'rfsoc_page' %}">
            {% csrf_token %}
            <!-- RFSoC information -->
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">RFSoC information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-host">IP Address</label>
                    <input id="input-host" class="form-control" name="rfsoc_host" placeholder="RFSoC IP Address" type="text" value="{{ form.rfsoc_host.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-port">Port</label>
                    <input type="number" id="input-port" class="form-control" name="rfsoc_port" placeholder="Port" value="{{ form.rfsoc_port.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input id="input-username" class="form-control" name="rfsoc_username" placeholder="Username" value="{{ form.rfsoc_username.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-password">Password</label>
                    <input id="input-password" class="form-control" name="rfsoc_password" placeholder="Password" value="{{ form.rfsoc_password.value }}" />
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <!-- Configuration - General -->
            <h6 class="heading-small text-muted mb-4">Configuration - General</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-adc-trig-offset">ADC Trigger Offset</label>
                    <input type="number" id="input-adc-trig-offset" class="form-control" name="adc_trig_offset" placeholder="ADC Trigger Offset" value="{{ form.adc_trig_offset.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-soft-avgs">Soft Averages</label>
                    <input type="number" id="input-soft-avgs" class="form-control" name="soft_avgs" placeholder="Soft Averages" value="{{ form.soft_avgs.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-relax-delay">Relax Delay</label>
                    <input type="number" id="input-relax-delay" class="form-control" name="relax_delay" placeholder="Relax Delay" value="{{ form.relax_delay.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-readout-length">Readout Length</label>
                    <input type="number" id="input-readout-length" class="form-control" name="readout_length" placeholder="Readout Length" value="{{ form.readout_length.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-pulse-freq">Pulse Frequency</label>
                    <input type="number" id="input-pulse-freq" class="form-control" name="pulse_freq" placeholder="Pulse Frequency" value="{{ form.pulse_freq.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-reps">Reps</label>
                    <input type="number" id="input-reps" class="form-control" name="reps" placeholder="Reps" value="{{ form.reps.value }}" />
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <!-- Configuration - EOM -->
            <h6 class="heading-small text-muted mb-4">Configuration - EOM</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Out Channels</label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="eom_outch[]" id="input-eom-outch-0" value="0" {% if 0 in form.eom_outch.value %}checked{% endif %} />
                      <label class="form-check-label" for="input-eom-outch-0">0</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="eom_outch[]" id="input-eom-outch-1" value="1" {% if 1 in form.eom_outch.value %}checked{% endif %} />
                      <label class="form-check-label" for="input-eom-outch-1">1</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-freqseq">Freq Sequence</label>
                    <input type="text" id="input-eom-freqseq" class="form-control" name="eom_freqseq" placeholder="Freq Seq" value="{{ form.eom_freqseq.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-timeseq">Time Sequence</label>
                    <input type="text" id="input-eom-timeseq" class="form-control" name="eom_timeseq" placeholder="Time Seq" value="{{ form.eom_timeseq.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-length">Length</label>
                    <input type="number" id="input-eom-length" class="form-control" name="eom_length" placeholder="Length" value="{{ form.eom_length.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-pulsefreq">Pulse Freq</label>
                    <input type="number" id="input-eom-pulsefreq" class="form-control" name="eom_pulsefreq" placeholder="Pulse Freq" value="{{ form.eom_pulsefreq.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-zone">Zone</label>
                    <input type="number" id="input-eom-zone" class="form-control" name="eom_zone" placeholder="Zone" value="{{ form.eom_zone.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-eom-mode">Mode</label>
                    <input type="text" id="input-eom-mode" class="form-control" name="eom_mode" placeholder="Mode" value="{{ form.eom_mode.value }}" />
                  </div>
                </div>
                <!-- Add more fields for EOM configuration if needed -->
              </div>
            </div>

            <!-- Add more configuration fields as necessary -->

            <hr class="my-4" />

            <!-- Configuration - Frequency A -->
            <h6 class="heading-small text-muted mb-4">Configuration - Frequency A</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqA-res_phase">Res Phase</label>
                    <input type="number" id="input-freqA-res_phase" class="form-control" name="freqA_res_phase" placeholder="Res Phase" value="{{ form.freqA_res_phase.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqA-pulse_gain">Pulse Gain</label>
                    <input type="number" id="input-freqA-pulse_gain" class="form-control" name="freqA_pulse_gain" placeholder="Pulse Gain" value="{{ form.freqA_pulse_gain.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqA-pulse_freq">Pulse Freq</label>
                    <input type="number" id="input-freqA-pulse_freq" class="form-control" name="freqA_pulse_freq" placeholder="Pulse Freq" value="{{ form.freqA_pulse_freq.value }}" />
                  </div>
                </div>
                <!-- Add more fields for Frequency A configuration if needed -->
              </div>
            </div>

            <hr class="my-4" />

            <!-- Configuration - Frequency B -->
            <h6 class="heading-small text-muted mb-4">Configuration - Frequency B</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqB-res_phase">Res Phase</label>
                    <input type="number" id="input-freqB-res_phase" class="form-control" name="freqB_res_phase" placeholder="Res Phase" value="{{ form.freqB_res_phase.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqB-pulse_gain">Pulse Gain</label>
                    <input type="number" id="input-freqB-pulse_gain" class="form-control" name="freqB_pulse_gain" placeholder="Pulse Gain" value="{{ form.freqB_pulse_gain.value }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-freqB-pulse_freq">Pulse Freq</label>
                    <input type="number" id="input-freqB-pulse_freq" class="form-control" name="freqB_pulse_freq" placeholder="Pulse Freq" value="{{ form.freqB_pulse_freq.value }}" />
                  </div>
                </div>
                <!-- Add more fields for Frequency B configuration if needed -->
              </div>
            </div>

            <hr class="my-4" />

            <!-- Configuration - AOM -->
            <h6 class="heading-small text-muted mb-4">Configuration - AOM</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Pins</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selected_pins[]" id="input-pin-0" value="0" data-time-input="input-aom-time-0" data-length-input="input-aom-length-0" {% if 0 in form.aom_pins.value %}checked{% endif %} />
                        <label class="form-check-label" for="input-pin-0">0</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selected_pins[]" id="input-pin-1" value="1" data-time-input="input-aom-time-1" data-length-input="input-aom-length-1" {% if 1 in form.aom_pins.value %}checked{% endif %} />
                        <label class="form-check-label" for="input-pin-1">1</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selected_pins[]" id="input-pin-2" value="2" data-time-input="input-aom-time-2" data-length-input="input-aom-length-2" {% if 2 in form.aom_pins.value %}checked{% endif %} />
                        <label class="form-check-label" for="input-pin-2">2</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selected_pins[]" id="input-pin-3" value="3" data-time-input="input-aom-time-3" data-length-input="input-aom-length-3" {% if 3 in form.aom_pins.value %}checked{% endif %} />
                        <label class="form-check-label" for="input-pin-3">3</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-time-0">Time for Pin 0</label>
                    <input type="text" id="input-aom-time-0" class="form-control time-input" name="aom_time_0" placeholder="Time for Pin 0" value="{{ form.aom_time_0.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-time-1">Time for Pin 1</label>
                    <input type="text" id="input-aom-time-1" class="form-control time-input" name="aom_time_1" placeholder="Time for Pin 1" value="{{ form.aom_time_1.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-time-2">Time for Pin 2</label>
                    <input type="text" id="input-aom-time-2" class="form-control time-input" name="aom_time_2" placeholder="Time for Pin 2" value="{{ form.aom_time_2.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-time-3">Time for Pin 3</label>
                    <input type="text" id="input-aom-time-3" class="form-control time-input" name="aom_time_3" placeholder="Time for Pin 3" value="{{ form.aom_time_3.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-length-0">Length for Pin 0</label>
                    <input type="text" id="input-aom-length-0" class="form-control length-input" name="aom_length_0" placeholder="Length for Pin 0" value="{{ form.aom_length_0.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-length-1">Length for Pin 1</label>
                    <input type="text" id="input-aom-length-1" class="form-control length-input" name="aom_length_1" placeholder="Length for Pin 1" value="{{ form.aom_length_1.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-length-2">Length for Pin 2</label>
                    <input type="text" id="input-aom-length-2" class="form-control length-input" name="aom_length_2" placeholder="Length for Pin 2" value="{{ form.aom_length_2.value }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-aom-length-3">Length for Pin 3</label>
                    <input type="text" id="input-aom-length-3" class="form-control length-input" name="aom_length_3" placeholder="Length for Pin 3" value="{{ form.aom_length_3.value }}" />
                  </div>
                </div>

                <!-- Add more fields for AOM configuration if needed -->
              </div>
            </div>

            <!-- Add more configuration fields as necessary -->

            <hr class="my-4" />

            <!-- Form submission buttons -->
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %}
<script>
  // Get all the checkbox inputs, time inputs, and length inputs
  const checkboxes = document.querySelectorAll('input[type="checkbox"][name="selected_pins[]"]');
  const timeInputs = document.querySelectorAll(".time-input");
  const lengthInputs = document.querySelectorAll(".length-input");

  // Add event listeners to the checkboxes
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", function () {
      const timeInputId = this.getAttribute("data-time-input");
      const timeInput = document.getElementById(timeInputId);
      const timeInputLabel = document.querySelector(`label[for="${timeInputId}"]`);

      const lengthInputId = this.getAttribute("data-length-input");
      const lengthInput = document.getElementById(lengthInputId);
      const lengthInputLabel = document.querySelector(`label[for="${lengthInputId}"]`);

      // Show or hide the time and length inputs and their labels based on the checkbox's checked state
      if (this.checked) {
        timeInput.style.display = "block";
        timeInputLabel.style.display = "block";
        lengthInput.style.display = "block";
        lengthInputLabel.style.display = "block";
      } else {
        timeInput.style.display = "none";
        timeInputLabel.style.display = "none";
        lengthInput.style.display = "none";
        lengthInputLabel.style.display = "none";
      }
    });

    // Trigger the change event to show or hide the time and length inputs and their labels initially based on the checkbox's checked state
    checkbox.dispatchEvent(new Event("change"));
  });
</script>

{% endblock javascripts %}
